{% extends 'layout.html' %}
{% block body_content %}

    {% for workout in all_workouts %}
        {{ workout.workout_name }} - {{ workout.workout_complete }}
        
        <div style="display:inline">
            <form action= "{{url_for('update', userID=userID, workoutID=workout.id)}}" > 
                <input type = submit value="Update">
            </form>
        
            <form action= "{{url_for('delete', userID=userID, workoutID=workout.id)}}" > 
                <input type = submit value="Delete">
            </form>
        </div>
        <br>
    {% endfor %}

    
    <form action= "{{ url_for('addWorkout', userID=userID)}}" > 
        <input type = submit value="Add Workout">
    </form>
  
{% endblock body_content %}